.navbar {
  background-color: #000; 
  margin: 0; 
  border: none; 
  box-shadow: none; 
}

.navbar .navbar-brand {
  color: #fad60d; 
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar .navbar-nav .nav-link {
  color: #fff ; 

}
.navbar .navbar-nav .nav-link:hover{
  color: grey;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
}

.nav-item1{
  margin-left: 320px;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item2{
  margin-left: 70px;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navbar .custom-nav {
  padding-left: 20px; 
}

.navbar-text{
  font-size:large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link{
  margin-left: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;



}

.navbar .custom-nav .nav-item {
  margin-right: 100px;
  
}

html, body {
  height: 100%; 
  margin: 0; 
  display: flex;
  flex-direction: column;
  
}

main {
  flex: 1; 
 
}

footer {

  color: #fad60d; 
  text-align: left; 
  margin: 0; 
  padding-top: 83px;
  padding-left: 5px;
  border-top: none;
  position: relative;
  bottom: 0px;
}

