@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* wwwroot/css/site.css */

.movie-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 16px;
  height: 95%;
}

.movie-poster {
  max-width: 100%;
  border-radius: 8px;
}

.movie-card h2 {
  font-size: 1.5em;
  margin: 10px 0; 
  color: white;

}

.movie-card p {
  font-size: 1em;
  margin: 5px 0;
  color:white;
}


