@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Most Watched</h1>
</div>
 <h2>Top 10 on IMDb this</h2>




    <h2>In theaters</h2>
    <div class="height img-fluid rounded float-start mx-auto">
    <img src="/img/ters_yüz_2.jpg" alt="">
    <img src="/img/venom.jpg.jpg" alt="">
    <img src="/img/vahşi_robot.jpg" alt="">
    <img src="/img/cumhuriyet_sarkısı.jpg" alt="">

</div>
