@page
@model MyWebApp.Pages.SeriesLayoutModel
@{
    ViewData["Title"] = "SERIES PAGE";
}

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #121212;
        border: #000 none;
    }

    h5.mt-3 {
        color: white;
        font-size: 16px;
        text-align: center;
        margin-top: 15px;
        letter-spacing: 1px;

    }
    .row{
        margin-top: 20px;
    }
    .title{
        color: white;
    }

</style>

<div class="row">
    <h1 class="title">@ViewData["Title"]</h1>
    @foreach (var movie in Model!.Movies!) 
    {
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="@Url.Page("/MovieDetails", new { id = movie!.Title!.Replace(" ", "-").ToLower() })">
                @await Component.InvokeAsync("MovieCardWithoutDesc", new { movie = movie })
            </a>
        </div>
    }
</div>