@page
@model MyWebApp.Pages.SignOutModel
@{
    ViewData["Title"] = "Sign Out";
}

<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="row justify-content-center">
        <h5>Çıkış Başarılı</h5>
    </div>
</div>
